<h1>Hello {{ title }}</h1>

<button id="scraper">Scraper</button>

<div>
	<ul id="list">
		<!-- {{#each articles}}
		<li>
			{{ this.title }}
		</li>
		{{/each}} -->
	</ul>
</div>

<script type="text/javascript" src="/js/app.js"></script>