<!-- HEADER AND LOGO -->
<div class="row" id="nav-bar">
	<div class="col-12">
		<span id="brand">NewsTech</span>
		<button id="scraper" class="btn btn-success btn-lg float-right">Start Scraping</button>
		<button class="btn btn-dark btn-lg float-right">Saved Articles</button>
  </div>
</div>
<div class=" row" id="title-div">
    <div class="col-12 text-center mt-5">
    	<div id="intro">
        <h1>NewsTech Articles</h1>
        <p id="main-par">All articles provided in this website are technology related and scraped from <a href="https://www.theverge.com/tech">The Verge</a></p>
      </div>
    </div>
</div>

<div id="article-container">
  {{#each articles}}
  <div>
    <a href="{{ this.link }}" target="_blank">{{ this.title }}</a>
    <button id="save-btn" class="btn btn-sm btn-primary float-right">Save article</button>
  </div>
  {{/each}}
</div>

<script src="/js/app.js"></script>